.i-cant-afford-new-dance-mats {
	h2 {
		display: block;
		background: $secondary;
		border-top-left-radius: $spacing / 4;
		border-top-right-radius: $spacing / 4;
		color: $primary;
		padding: $spacing;
	}
	.content {
		padding: $spacing;
		padding-top: 0;
		line-height: 1.25em;
	}
	ul li {
		list-style-type: disc;
		margin-left: $spacing;
		margin-bottom: $spacing / 2;
	}
	form {
		margin-bottom: $spacing / 2;
	}
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: $spacing / 4;

	$top: adjust-color($primary, $lightness: 40, $saturation: -40);
	$bottom: adjust-color($primary, $lightness: 35, $saturation: -40);
	background: $bottom;
	background: -moz-linear-gradient(top, $top, $bottom 50px);
	background: -webkit-linear-gradient(top, $top, $bottom 50px);

	margin-left: $spacing;
}
.downloads {
	.download {
		&.download-windows h2 a {
			background: $secondary url('../images/windows.png') no-repeat 32px -16px;
		}
		&.download-mac h2 a {
			background: $secondary url('../images/mac.png') no-repeat 32px -16px;
		}
		&.download-source h2 a {
			background: $secondary url('../images/linux.png') no-repeat 32px -16px;
		}
		h2 {
			a {
				display: block;
				background: $secondary;
				border-radius: $spacing / 4;
				border-radius: $spacing / 4;
				color: $primary;
				padding: $spacing * 2;
				background-size: 28px 28px;
				text-decoration: none;
				@include transition(background-color 0.1s linear);
			}
			a:hover {
				background-color: desaturate(mix($secondary, $primary, 70%), 30%);
				@include transition(background-color 0.1s linear);
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		.download-info {
			padding: $spacing;
			padding-top: 0;
		}
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
		border-radius: $spacing / 4;
		$top: adjust-color($primary, $lightness: 40, $saturation: -40);
		$bottom: adjust-color($primary, $lightness: 35, $saturation: -40);
		background: $bottom;
		background: -moz-linear-gradient(top, $top, $bottom 50px);
		background: -webkit-linear-gradient(top, $top, $bottom 50px);
		display: block;
		margin-bottom: $spacing;
	}
}

@media only screen and (max-width: 500px) {
	.i-cant-afford-new-dance-mats {
		max-width: none !important;
		margin-top: $spacing;
		margin-left: 0;
	}
	.downloads-container {
		height: auto;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}
