form {
	padding-top: $spacing;
	.field {
		margin-bottom: $spacing;
		.left {
			display: inline-block;
			width: 150px;
			font-size: 1.0rem;
			text-align: right;
			margin: 0 $spacing;
		}
		.middleColumn {
			display: inline-block;
			input {
				width: 250px;
			}
		}
		input {
			padding: $spacing/4;
			background: white;
			box-shadow: 0 -2px 0 $primary inset;
			border: 1px solid #aaa;
			border: none;
			border-radius: 3px;
			display: inline-block;
		}
	}
	.Actions {
		.action {
			display: inline-block;
		}
		#ForgotPassword {
			margin-left: $spacing;
			display: inline-block;
		}
	}
}
