// This file is a fucking MESS. It's partially (okay, mostly) my fault and
// partially because the original HTML used in this module was really nasty.
// 
// I'd like to get it fixed up, but that will have to wait until it's more
// or less fully functional and in prod. -Colby
.forum-footer {
	margin-top: $spacing;
}
.forum-search-bar {
	display: inline-block;
	float: right;
	margin-right: $spacing;
}
.logged-in {
	color: #aaa;
}
.user-profile {
	.left {
		display: inline-block;
		width: 150px + $spacing;
		float: left;
	}
	.middleColumn {
		display: inline-block;
		float: left;
	}
}
.forum-news {
	margin: $spacing 0;
	.forum-post {
		display: block;
	}
	footer {
		p {
			padding: $spacing 0 0 0;
			color: black;
		}
		.post-modifiers {
			float: right;
			a {
				margin: $spacing / 2;
			}
		}
	}
}
.forum-subforum {
	$top: adjust-color($primary, $lightness: 40, $saturation: -40);
	$bottom: adjust-color($primary, $lightness: 35, $saturation: -40);
	background: $bottom;
	background: -moz-linear-gradient(top, $top, $bottom 50px);
	background: -webkit-linear-gradient(top, $top, $bottom 50px);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	height: 3em;
	padding: $spacing;
	display: flex;
	display: -webkit-flex;
	p:last-child {
		margin-bottom: 0 !important;
	}
	.topic-title {
		font-size: 120%;
		font-weight: 600;
	}
	p {
		margin-bottom: $spacing/4 !important;
	}
	.subforum-stats {
		padding: 0 $spacing;
	}
}
.forum-flex {
	display: flex;
	display: -webkit-flex;
}
.forum-flex-left {
	flex: 1 0 auto;
}
.forum-flex-mid {
	flex: 1 0 auto;
	max-width: 150px;
}
.forum-flex-right {
	flex: 1 0 auto;
	max-width: 250px;
}
.forum-topics {
	.page-numbers {
		.topic-page {
			&.current, a {
				display: inline-block;
				padding: $spacing / 2 $spacing;
				border-radius: $spacing / 4;
			}
			&.current {
				background: adjust-color(mix($primary, $secondary, 25%),
					$lightness: 25, $saturation: -30);
				color: adjust-color($primary, $lightness: -50);
			}
			a {
				background: adjust-color($secondary, $lightness: 15);
				color: $primary;
				font-weight: 600;
			}
		}
		margin-bottom: $spacing;
	}
}
.forum-header {
	margin-bottom: $spacing;
}
.forum-topic {
	$top: adjust-color($primary, $lightness: 40, $saturation: -40);
	$bottom: adjust-color($primary, $lightness: 35, $saturation: -40);
	background: $bottom;
	background: -moz-linear-gradient(top, $top, $bottom 50px);
	background: -webkit-linear-gradient(top, $top, $bottom 50px);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	padding: $spacing;
	height: 3em;
	p:last-child {
		margin-bottom: 0 !important;
	}
	p {
		margin-bottom: $spacing/4 !important;
	}
	.topic-title {
		font-size: 120%;
		font-weight: 600;
	}
}
.button {
	display: inline-block;
	padding: $spacing / 2 $spacing;

	$top: adjust-color($secondary, $lightness: 20, $saturation: -40);
	$bottom: adjust-color($secondary, $lightness: 5, $saturation: -40);
	background: $bottom;
	background: -moz-linear-gradient(top, $top, $bottom 50px);
	background: -webkit-linear-gradient(top, $top, $bottom 50px);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	a {
		color: $primary;
		font-weight: 600;
	}
}
.forum-post {
	margin-bottom: $spacing / 4;
	vertical-align: top;
	border-radius: $spacing / 4;
	$top: adjust-color($primary, $lightness: 45, $saturation: -35);
	$bottom: adjust-color($primary, $lightness: 40, $saturation: -35);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
	.user-info {
		padding: $spacing;
		background: $bottom;
		border-right: 1px solid darken($bottom, 10%);
		//background: -moz-linear-gradient(top, $top, $bottom 50px);
		//background: -webkit-linear-gradient(top, $top, $bottom 50px);
	}
	&:nth-child(even) .user-info {
		background: darken($bottom, 5%);
		//background: -moz-linear-gradient(top, darken($top, 5%), darken($bottom, 5%) 50px);
		//background: -webkit-linear-gradient(top, darken($top, 5%), darken($bottom, 5%) 50px);
	}
	.user-info {
		overflow: hidden;
		flex: 0 0 auto;
		-webkit-flex: 0 0 auto;
		vertical-align: top;
		width: 150px;
		max-width: 150px;
		.author-link {
			font-weight: 600;
			font-size: 110%;
		}
		.custom-title {
			display: block;
		}
		.avatar {
			margin: $spacing 0;
			max-width: 100%;
		}
		.forum-rank {}
		.post-count {}
	}
	.user-content {
		padding: $spacing;
		line-height: 1.4em;
		overflow: hidden; // damn you, Jousway!
		vertical-align: top;
		overflow: hidden;
		img {
			max-width: 100%;
		}
		ul {
			margin-top: -1em;
			margin-left: $spacing * 2;
			list-style-type: disc;
		}
		.codesnippet {
			font-family: monospace;
			white-space: pre;
			br { display: none; }
		}
		.post-edited {
			color: #555;
			font-style: italic;
		}
		.post-type {
			display: block;
			//border-radius: $spacing / 4;
		}
		.signature {}
		.attachments {}
	}
	header {
		// note to self: use better selectors. -Colby
		$top: lighten($primary, 5%);
		$bottom: $primary;
		background: $bottom !important;
		background: -moz-linear-gradient(top, $top, $bottom)  !important;
		background: -webkit-linear-gradient(top, $top, $bottom)  !important;
		border-top-left-radius: $spacing / 4;
		border-top-right-radius: $spacing / 4;
		padding: $spacing;
		margin-bottom: 0 !important;
		.post-date {
			display: block;
		}
	}
	footer {
		border-bottom-left-radius: $spacing / 4;
		border-bottom-right-radius: $spacing / 4;
		$top: lighten($secondary, 75%);
		$bottom: darken($top, 5%);
		background: $bottom;
		background: -moz-linear-gradient(top, $top, $bottom);
		background: -webkit-linear-gradient(top, $top, $bottom);
		padding: $spacing;
		overflow: auto;
		.post-modifiers {
			a {
				margin-right: $spacing;
			}
			float: right;
		}
		.quick-reply {
			float: right;
			margin-left: $spacing;
		}
	}
}

.forum-stats {}
