.message {
	border-radius: 3px;
	border: 1px solid adjust-color(#0f0, $lightness: -10);
	background: adjust-color(#0f0, $lightness: 40);
	padding: $spacing;
}
.bad {
	border: 1px solid adjust-color(#f00, $lightness: 35);
	background: adjust-color(#f00, $lightness: 45);
}

#Form_PostMessageForm {
	padding: $spacing;
	#Form_PostMessageForm_Title {
		font-size: 120%;
		font-weight: 600;
	}
	.textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 15em;
		resize: vertical;
	}
	.left {
		text-align: left;
		display: block;
		margin: 0;
	}
	.middleColumn {
		margin: $spacing 0 0 0;
		display: block;
	}
	.BBCodeHint {
		margin-top: $spacing; // ???
		display: block;
	}
}
form {
	.field {
		margin-bottom: $spacing;
		.left {
			vertical-align: top;
			display: inline-block;
			width: 150px;
			font-size: 1.0rem;
			text-align: right;
			margin: 0 $spacing;
		}
		.middleColumn {
			display: inline-block;
			input {
				width: 250px;
			}
		}
		input {
			padding: $spacing/4;
			background: white;
			box-shadow: 0 -2px 0 $primary inset;
			border: 1px solid #aaa;
			border: none;
			border-radius: 3px;
			display: inline-block;
		}
	}
	.Actions {
		.action {
			display: inline-block;
		}
		#ForgotPassword {
			margin-left: $spacing;
			display: inline-block;
		}
	}
}
