.message {
	border-radius: 3px;
	border: 1px solid adjust-color(#0f0, $lightness: -10);
	background: adjust-color(#0f0, $lightness: 40);
	padding: $spacing;
}
.bad {
	border: 1px solid adjust-color(#f00, $lightness: 35);
	background: adjust-color(#f00, $lightness: 45);
}
#Form_AdminFormFeatures {
	margin: $spacing / 1.5;
}
#Form_EditProfileForm {
	max-width: 800px;
	.middleColumn {
		min-width: 500px;
	}
	.text .left {
		padding-top: 8px;
	}
	.textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 15em;
		resize: vertical;
	}
}
#Form_PostMessageForm, #Form_EditForm {
	padding: 0 $spacing $spacing * 2 $spacing;
	#Form_PostMessageForm_Title {
		font-size: 120%;
		font-weight: 600;
	}
	.BBCodeHint {
		margin-bottom: $spacing;
	}
	.textarea {
		.left {
			display: none;
		}
		min-width: 100%;
		max-width: 100%;
		min-height: 15em;
		resize: vertical;
	}
	.left {
		text-align: left;
		display: block;
		margin: 0;
	}
	.middleColumn {
		margin: $spacing 0 0 0;
		display: block;
	}
	.BBCodeHint {
		margin-top: $spacing; // ???
		display: block;
	}
}
form {
	.field {
		margin-bottom: $spacing;
		.left {
			vertical-align: top;
			display: inline-block;
			width: 150px;
			font-size: 1.0rem;
			text-align: right;
			margin: 0 $spacing;
		}
		.middleColumn {
			display: inline-block;
			input {
				width: 250px;
			}
		}
		input, textarea {
			padding: $spacing/2;
			padding-bottom: $spacing/2 + 2px;
			@include gradient(lighten(#fec, 5%), white 15px);
			box-shadow: 0 -2px 0 lighten($primary, 10%) inset;
			border: 1px solid lighten($primary, 25%);
			border-radius: 3px;
			display: inline-block;
			font-family: inherit;
			font-size: 100%;
			@include box-sizing(border-box);
		}
	}
	.Actions {
		.action {
			display: inline-block;
		}
		#ForgotPassword {
			margin-left: $spacing;
			display: inline-block;
		}
	}
}
