.HomePage-banner {
	table h1 {
		padding: $spacing/4 0 !important;
	}
	p {
		margin-bottom: $spacing / 2;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: $primary;
	}
}

.HomePage-article {
	width: 100%;
	h1 {
		display: inline-block;
		font-size: 1.2rem;
		$color: adjust-color(
			mix($primary, $secondary, 60%),
			$hue: -30,
			$lightness: 0,
			$saturation: -50
		);
		color: $color;
		text-shadow: 0 1px 0 lighten($color, 30%);
		font-weight: 600;
	}
	.forum-post {
		margin-bottom: 1em;
		header {
			padding: $spacing;
			padding-bottom: 0;
		}
		header h2 {
			margin-bottom: 0;
		}
		footer {
			.post-date {
				display: inline-block;
				padding: $spacing;
			}
			.post-modifiers a {
				margin: 0;
			}
		}
	}
}
