#MemberList {
	width: 100%;
	margin-top: $spacing;
	th {
		text-align: left;
		background: $secondary;
		padding: $spacing;
		a {
			color: $primary;
		}
	}
	tr:nth-child(odd) {
		background: rgba($primary, 0.25);
	}
	td {
		&:nth-child(even) {
			background: rgba($primary, 0.1);
		}
		padding: $spacing;
	}
}
