// dude, silverstripe, not cool.
#SilverStripeNavigator {
	background: $secondary !important;
	border-top: 4px solid darken($primary, 20%) !important;
	outline: none !important;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	height: 2em !important;
	width: 100% !important;
	.holder {
		border: none !important;
		padding: 10px !important;
		padding-bottom: 0;
		min-width: 500px;
	}
	.bottomTabs, #logInStatus {
		font-size: 130% !important;
	}
	a {
		font-size: 100% !important;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.125);
	}
}

#SilverStripeNavigatorMessage {
	box-shadow: 0 1px 0px rgba(255, 255, 255, 0.25);
	border-radius: 3px;
	background: $secondary !important;
	border-width: 2px !important;
	border-color: darken($primary, 20%) !important;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	position: absolute !important;
	top: 5px !important;
	right: 5px !important;
}