.WikiPage-article {
	line-height: 1.4em;
	ol, ul {
		margin-bottom: 1em;
		li {
			margin-left: 20px;
		}
	}
	ul li {
		list-style-type: disc;
	}
	ol li {
		list-style-type: decimal;
	}
	code {
		font-family: monospace;
		font-size: 90%;
		background: #eee;
		box-shadow: 0 0 0 2px #eee;
	}
	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}
		margin-top: 2em;
		font-weight: bold;
	}
	h1 {
		font-size: 150%;
	}
	h2 {
		font-size: 120%;
	}
	h3 {
		font-size: 110%;
	}
	h4 {
		font-size: 105%;
	}
	h5, h6 {
		font-size: 100%;
	}
	.wiki-meta {
		border-radius: $spacing / 4;
		border: 1px solid #ccc;
		ul {
			margin-bottom: 0;
			li {
				list-style-type: none;
				margin-left: 0;
			}
		}
		h3 {
			&:first-child {
				margin-top: 0;
			}
			margin-top: 1em;
		}
		margin-top: 1em;
		padding: $spacing;
		background: #eee;
	}
}