@import "reset";
@import "helpers";

//$primary: #aa66cc;
$primary: #f0d01f;
$secondary: adjust-color(#21201f, $lightness: 0%);
$spacing: 12px;
$rounding: 5px;
$shadow: 0 2px 0 rgba(0, 0, 0, 0.125);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300);

.limit-width {
	width: 98%;
	max-width: 960px;
	margin: 0 auto;
}

body {
	background: $primary;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
}

a {
	color: adjust-color(
		mix($primary, $secondary, 60%),
		$hue: -50
	);
	text-decoration: none;
	transition: color ease-in 0.25s;
}

a:hover {
	color: adjust-color(
		mix($primary, $secondary, 25%),
		$hue: -50
	);
	text-decoration: underline;
	transition: color ease-out 0.125s;
}

h2 {
	font-size: 120%;
	font-weight: 600;
	margin-bottom: $spacing;
}

header {
	background: $secondary;
	box-shadow: $shadow;
	nav {
		color: white;
		font-size: 1.15rem;
		overflow: auto;
		img {
			float: left;
			padding: 7px;
		}
		ul li {
			float: left;
			a {
				padding: $spacing;
				padding-bottom: $spacing - 4px;
				border-bottom: 4px solid $secondary;
				display: inline-block;
				text-decoration: none;
				color: white;
				background: $secondary;
				transition: background-color 0.5s linear;
				&.current, &.section {
					border-bottom: 4px solid $primary;
				}
				&:hover {
					color: white;
					text-decoration: none;
					transition: background-color 0.125s linear;
					&.current, &.section {
						border-bottom: 4px solid $primary;
					}
					border-bottom-color: adjust-color($primary,
						$saturation: -20%,
						$lightness: -30%
					);
					background: adjust-color($primary,
						$saturation: -20%,
						$lightness: -40%
					);
				}
			}
		}
	}
}

#container {
	background: white;
	border-bottom-left-radius: $rounding;
	border-bottom-right-radius: $rounding;
	overflow: auto;
	box-shadow: $shadow;
	.banner, header {
		background: $secondary;
		color: white;
		p, h1 {
			padding: $spacing;
		}
		h1 {
			display: inline-block;
			font-size: 1.2rem;
			color: $primary;
			font-weight: 600;
		}
	}
	article {
		padding: $spacing;
		&:last-child {
			margin-bottom: 0;
		}
		header {
			p, h1 {
				padding: 0;
			}
			color: #333;
			background: none;
			box-shadow: none;
			margin-bottom: $spacing;
		}
		p {
			margin-bottom: 1em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.login {
		background: $secondary;
		padding: $spacing;
		a {
			color: white;
			text-decoration: none;
		}
	}
}

footer {
	p {
		padding: $spacing;
		color: mix($primary, #000, 25%);
	}
}

@import "forum";
@import "wiki";
@import "form";
@import "silverstripe";