/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .bold a {
	background-image:url(images/bold.png);
}
.bbcode .italic a {
	background-image:url(images/italic.png);
}
.bbcode .underline a {
	background-image:url(images/underline.png);
}
.bbcode .stroke a {
    background-image:url(images/stroke.png);
}

.bbcode .size a {
	background-image:url(images/fonts.png);
}
.bbcode .color a {
    background-image:url(images/colors.png);
}
.bbcode .rainbow a {
    background-image:url(images/rainbow-icon.png);
}

.bbcode .left-align a {
    background-image:url(images/text_align_left.png);
}
.bbcode .center-align a {
    background-image:url(images/text_align_center.png);
}
.bbcode .right-align a {
    background-image:url(images/text_align_right.png);
}

.bbcode .picture a {
    background-image:url(images/picture.png);
}
.bbcode .youtube a {
    background-image:url(images/youtube.png);
}
.bbcode .link a {
    background-image:url(images/link.png);
}

.bbcode .quotes a {
	background-image:url(images/quotes.png);
}
.bbcode .code a {
	background-image:url(images/code.png);
}
.bbcode .abbreviation a {
    background-image:url(images/abbreviation.png);
}
.bbcode .spoiler a {
    background-image:url(images/spoiler.gif);
}
	
.bbcode .clean a {
	background-image:url(images/clean.png);
}
.bbcode .preview a {
	background-image:url(images/preview.png);
}