	
form fieldset { border: none; }

form .Actions { margin-top: 10px; }

/* Specific styles to fix treedropdownfield */
#TreeDropdownField_Form_CreatePageForm_CreateContext { width: 350px; }
#TreeDropdownField_Form_CreatePageForm_CreateContext .items { width: 324px; }

.ui-autocomplete li{
	background: none;
	font-size: 13px;
}

.ui-dialog .ui-dialog-buttonpane button{
	font-size: 13px;
}

/* dialog forms */

#dialogContent form {
	margin: 18px 0 18px 0;
}
/* FIELDSETS
---------------------------------------- */
#dialogContent fieldset {
	border: 0;
}

#dialogContent .field {
	clear: both;
	margin: 0 0 18px 0;
	overflow: hidden;
}

#dialogContent .field.email {
	background:none;
}

#dialogContent .field.confirmedpassword {
	margin: 0;
}

#dialogContent .field.CompositeField {
	margin: 0;
}

/* FIELD FORMATING
---------------------------------------- */
#dialogContent form ul {
	list-style: none;
}
#dialogContent .middleColumn {
}
	
	#dialogContent div.tab .field .middleColumn {
		clear: none !important;
 		margin: 0 !important;
		width: auto;
	}
	
	#dialogContent .middleColumn .middleColumn {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}
	
	#dialogContent .middleColumn .message {
		background: none;
		clear: both;
		margin: 0;
		padding: 9px 0 0 0;
	}
	
	#dialogContent .middleColumn .message.required,
	#dialogContent .middleColumn .message.bad,
	#dialogContent .middleColumn .message.error {
		background: none !important;
		border: none !important;
		color: #993333;
		font-size: 11px;
	}
	
	#dialogContent .requiredField input.text {
		background-image: url(../images/required.gif);
	}
	#dialogContent .requiredField textarea {
		background-image: url(../images/required.gif);
	}
	
	#dialogContent .literalFieldArea {
		font-size: 11px;
	}
	
/* LABELS
---------------------------------------- */
#dialogContent label {
	color: #545454;
	font-size: 12px;
	font-weight: bold;
	line-height: 2.25;	
}

#dialogContent label.left {
 	display: block;
 	float: none;
}

#dialogContent label.right {
	display: inline;
}	
	
/* INPUT BOXS
---------------------------------------- */

#dialogContent input.text,
#dialogContent textarea,
#dialogContent select {
	background: #FFF;
	border: 1px solid #D2D2D2;
	-webkit-border-radius: 3px;	
	   -moz-border-radius: 3px;	
	        border-radius: 3px;	
	-webkit-box-shadow: 0 2px 0 #F6F6F6;
	   -moz-box-shadow: 0 2px 0 #F6F6F6;
	        box-shadow: 0 2px 0 #F6F6F6;
	color: #000;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	padding: 6px 4px;
	width: 300px;
}

#dialogContent input:focus, textarea:focus {
	background: #F7F7F7;
	border: 1px solid #D2D2D2;
}

#dialogContent .file input {
	background: #FFF;
	color: #000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 4px;
	width: 300px;	
}

#dialogContent form .date input.month,
#dialogContent form .date input.day,
#dialogContent form .date input.year {
	width: auto;
}

#dialogContent form .datetime .clear {
	clear: both;
}

#dialogContent form .datetime .date,
#dialogContent form .datetime .time {
	float: left;
	clear: none;
	width: auto;
}
	form .datetime .middleColumn .middleColumn {
		width: auto;
	}
	form .datetime .date input,
	form .datetime .time input {
		width: auto;
	}

#dialogContent input.nolabel {
	margin: 7px 0 0 5px;
}

/* SELECT DROPDOWN
---------------------------------------- */

#dialogContent select {
	/*width: auto;*/
	padding: 5px 4px;
	width: 310px;
}

/* MESSAGES
---------------------------------------- */
#dialogContent .required,
#dialogContent .message.validation {
	display: block;
	clear: both;
	color: #993333;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.6363;
	margin: 0 0 0 0;
	padding: 9px 0 0 0;
}


/* CHECKBOXES
---------------------------------------- */

#dialogContent .checkboxset {
	margin: 0 0 9px 0;
}

#dialogContent .checkbox label,
#dialogContent .checkboxset label,
#dialogContent .optionset label {
	line-height: 1.5;
}

#dialogContent .checkbox label {
	font-weight: normal;
}

#dialogContent .checkbox input {
	margin: 0 9px 0 0;
}

#dialogContent ul.optionset {
	margin: 9px 0 9px 0;
	overflow: hidden;
}
#dialogContent ul.optionset li {
	background: none;
	list-style-image: none;
	margin: 0 0 9px 0;
	padding: 0;
	
}
#dialogContent ul.optionset li input {
	margin: 0 9px 0 2px;
}
#dialogContent ul.optionset li label {
	display: inline-block;
	font-weight: normal;
}

/* ACTION BUTTONS
---------------------------------------- */
#dialogContent .Actions {
	margin: 9px 0 0 0;
	overflow: hidden;
	padding: 0;
}

#dialogContent input.action {
	background: #1D70AA;
	border: none; 
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 2px 0 #F6F6F6;
	   -moz-box-shadow: 0 2px 0 #F6F6F6;
	        box-shadow: 0 2px 0 #F6F6F6;
	color: #FFF;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0 9px 9px 0;
	padding: 6px 18px 6px 18px;
}
#dialogContent input.action:hover,
#dialogContent input.action:focus {
	background: #5694BF;
	cursor: pointer;
}

#editorPreview{
	height: 300px;
	overflow: auto;
	border: 1px solid #DDD;
}
