@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* for mixins and stuff */
.limit-width {
  width: 95%;
  max-width: 960px;
  margin: 0 auto; }

body {
  background: #f0d01f;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt; }

a {
  color: #9d201f;
  text-decoration: none;
  transition: color ease-in 0.25s; }

a:hover {
  color: #54201f;
  text-decoration: underline;
  transition: color ease-out 0.125s; }

h2 {
  font-size: 120%;
  font-weight: 600;
  margin-bottom: 14px; }

header {
  background: #21201f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.125); }
  header nav {
    color: white;
    font-size: 1.15rem;
    overflow: auto; }
    header nav img {
      float: left;
      padding: 7px; }
    header nav ul li {
      float: left; }
      header nav ul li a {
        padding: 14px;
        padding-bottom: 10px;
        border-bottom: 4px solid #21201f;
        display: inline-block;
        text-decoration: none;
        color: white;
        background: #21201f;
        transition: background-color 0.5s linear; }
        header nav ul li a.current, header nav ul li a.section {
          border-bottom: 4px solid #f0d01f; }
        header nav ul li a:hover {
          color: white;
          text-decoration: none;
          transition: background-color 0.125s linear;
          border-bottom-color: #635713;
          background: #38310b; }
          header nav ul li a:hover.current, header nav ul li a:hover.section {
            border-bottom: 4px solid #f0d01f; }

#container {
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: auto;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.125); }
  #container .banner, #container header {
    background: #21201f;
    color: white; }
    #container .banner p, #container .banner h1, #container header p, #container header h1 {
      padding: 14px; }
    #container .banner h1, #container header h1 {
      display: inline-block;
      font-size: 1.2rem;
      color: #f0d01f;
      font-weight: 600; }
  #container article {
    padding: 14px; }
    #container article:last-child {
      margin-bottom: 0; }
    #container article header {
      color: #333;
      background: none;
      box-shadow: none;
      margin-bottom: 14px; }
      #container article header p, #container article header h1 {
        padding: 0; }
    #container article p {
      margin-bottom: 1em; }
      #container article p:last-child {
        margin-bottom: 0; }
  #container .login {
    background: #21201f;
    padding: 14px; }
    #container .login a {
      color: white;
      text-decoration: none; }

footer p {
  padding: 14px;
  color: #3c3407; }

.forum-footer {
  margin-top: 14px; }

.forum-search-bar {
  display: inline-block;
  float: right;
  margin-right: 14px; }

.logged-in {
  color: #aaa; }

.user-profile .left {
  display: inline-block;
  width: 164px;
  float: left; }
.user-profile .middleColumn {
  display: inline-block;
  float: left; }

.forum-news {
  margin: 14px 0; }
  .forum-news .forum-post {
    display: block; }
  .forum-news footer p {
    padding: 14px 0 0 0;
    color: black; }
  .forum-news footer .post-modifiers {
    float: right; }

.forum-subforum {
  background: #f7f4e4;
  background: -moz-linear-gradient(top, white, #f7f4e4 50px);
  background: -webkit-linear-gradient(top, white, #f7f4e4 50px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  padding: 14px; }
  .forum-subforum p:last-child {
    margin-bottom: 0 !important; }
  .forum-subforum .topic-title {
    font-size: 120%;
    font-weight: 600; }

.forum-topic {
  background: #f7f4e4;
  background: -moz-linear-gradient(top, white, #f7f4e4 50px);
  background: -webkit-linear-gradient(top, white, #f7f4e4 50px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  padding: 14px; }
  .forum-topic p:last-child {
    margin-bottom: 0 !important; }
  .forum-topic .topic-title {
    font-size: 120%;
    font-weight: 600; }

.forum-post {
  padding: 14px;
  margin-bottom: 3.5px;
  vertical-align: top;
  display: flex;
  display: -webkit-flex;
  background: #f7f4e4;
  background: -moz-linear-gradient(top, white, #f7f4e4 50px);
  background: -webkit-linear-gradient(top, white, #f7f4e4 50px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px; }
  .forum-post:nth-child(even) {
    background: #f1ecd1;
    background: -moz-linear-gradient(top, #f9f7ec, #f1ecd1 50px);
    background: -webkit-linear-gradient(top, #f9f7ec, #f1ecd1 50px); }
  .forum-post .user-info {
    overflow: hidden;
    flex: 0 0 auto;
    vertical-align: top;
    width: 164px;
    max-width: 164px; }
    .forum-post .user-info .author-link {
      font-weight: 600;
      font-size: 110%; }
    .forum-post .user-info .avatar {
      margin: 13px 0;
      max-width: 100%; }
  .forum-post .user-content {
    overflow: hidden;
    padding-bottom: 1ex;
    flex: 1 1 auto;
    vertical-align: top;
    overflow: hidden; }
    .forum-post .user-content img {
      max-width: 100%; }
    .forum-post .user-content .post-date {
      display: block; }
    .forum-post .user-content .post-modifiers {
      float: right; }
    .forum-post .user-content .quick-reply {
      float: right;
      margin-left: 14px; }
    .forum-post .user-content .post-edited {
      color: #555;
      font-style: italic; }

article.wiki li {
  list-style-type: disc;
  margin-left: 15px; }

.message {
  border-radius: 3px;
  border: 1px solid #00cc00;
  background: #ccffcc;
  padding: 14px; }

.bad {
  border: 1px solid #ffb3b3;
  background: #ffe5e5; }

form .field {
  margin-bottom: 14px; }
  form .field .left {
    vertical-align: top;
    display: inline-block;
    width: 150px;
    font-size: 1.0rem;
    text-align: right;
    margin: 0 14px; }
  form .field .middleColumn {
    display: inline-block; }
    form .field .middleColumn input {
      width: 250px; }
  form .field input {
    padding: 3.5px;
    background: white;
    box-shadow: 0 -2px 0 #f0d01f inset;
    border: 1px solid #aaa;
    border: none;
    border-radius: 3px;
    display: inline-block; }
form .Actions .action {
  display: inline-block; }
form .Actions #ForgotPassword {
  margin-left: 14px;
  display: inline-block; }

#SilverStripeNavigator {
  background: #21201f !important;
  border-top: 4px solid #9e880b !important;
  outline: none !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  height: 2em !important;
  width: 100% !important; }
  #SilverStripeNavigator .holder {
    border: none !important;
    padding: 10px !important;
    padding-bottom: 0;
    min-width: 500px; }
  #SilverStripeNavigator .bottomTabs, #SilverStripeNavigator #logInStatus {
    font-size: 130% !important; }
  #SilverStripeNavigator a {
    font-size: 100% !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.125); }

#SilverStripeNavigatorMessage {
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  background: #21201f !important;
  border-width: 2px !important;
  border-color: #9e880b !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  position: absolute !important;
  top: 5px !important;
  right: 5px !important; }

.warning {
  border: 1px solid #fcc;
  border-radius: 3px;
  background: url("../images/warning.jpg") no-repeat;
  background-size: 100%;
  background-position: 0 -20px;
  padding: 14px; }
