@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* for mixins and stuff */
.limit-width {
  width: 98%;
  max-width: 960px;
  margin: 0 auto; }

strong, b {
  font-weight: 600; }

em, i {
  font-style: italic; }

body {
  background: #f0d01f;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt; }

a {
  color: #9d201f;
  text-decoration: none;
  transition: color ease-in 0.25s; }

a:hover {
  color: #54201f;
  text-decoration: underline;
  transition: color ease-out 0.125s; }

h2 {
  font-size: 120%;
  font-weight: 600;
  margin-bottom: 14px; }

small {
  font-size: 75%; }

.banner p {
  margin-top: 0;
  padding-top: 0 !important;
  text-align: justify; }
.banner table td {
  padding: 14px;
  padding-right: 0;
  vertical-align: top; }
  .banner table td:last-child {
    padding-right: 14px; }

.banner .left, article .left {
  float: left; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

header {
  background: #21201f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.125); }
  header nav {
    color: white;
    font-size: 1.15rem;
    overflow: auto; }
    header nav img {
      float: left;
      padding: 7px; }
    header nav ul li {
      float: left; }
      header nav ul li a {
        padding: 14px;
        padding-bottom: 10px;
        border-bottom: 4px solid #21201f;
        display: inline-block;
        text-decoration: none;
        color: white;
        background: #21201f;
        transition: background-color 0.5s linear; }
        header nav ul li a.current, header nav ul li a.section {
          border-bottom: 4px solid #f0d01f; }
        header nav ul li a:hover {
          color: white;
          text-decoration: none;
          transition: background-color 0.125s linear;
          border-bottom-color: #635713;
          background: #38310b; }
          header nav ul li a:hover.current, header nav ul li a:hover.section {
            border-bottom: 4px solid #f0d01f; }

#container {
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: auto;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.125); }
  #container .banner, #container header {
    background: #21201f;
    color: white; }
    #container .banner h1, #container header h1 {
      padding: 14px;
      display: inline-block;
      font-size: 1.2rem;
      color: #f0d01f;
      font-weight: 600; }
  #container article {
    padding: 14px; }
    #container article:last-child {
      margin-bottom: 0; }
    #container article header {
      color: #333;
      background: none;
      box-shadow: none;
      margin-bottom: 14px; }
      #container article header p, #container article header h1 {
        padding: 0; }
    #container article p {
      margin-bottom: 1em; }
      #container article p:last-child {
        margin-bottom: 0; }
  #container .login {
    background: #21201f;
    padding: 14px; }
    #container .login a {
      color: white;
      text-decoration: none; }

footer p {
  padding: 14px;
  color: #3c3407; }

.HomePage-banner table h1 {
  padding: 3.5px 0 !important; }
.HomePage-banner p {
  margin-bottom: 7px; }
  .HomePage-banner p:last-child {
    margin-bottom: 0; }
.HomePage-banner a {
  color: #f0d01f; }

.HomePage-article h1 {
  display: inline-block;
  font-size: 1.2rem;
  color: #6e594e;
  text-shadow: 0 1px 0 #b9a69c;
  font-weight: 600; }
.HomePage-article .forum-post {
  margin-bottom: 1em; }
  .HomePage-article .forum-post header h2 {
    margin-bottom: 0; }
  .HomePage-article .forum-post footer .post-date {
    display: inline-block;
    padding: 14px; }
  .HomePage-article .forum-post footer .post-modifiers a {
    margin: 0; }

.forum-footer {
  margin-top: 14px; }

.forum-search-bar {
  display: inline-block;
  float: right;
  margin-right: 14px; }

.logged-in {
  color: #aaa; }

.user-profile .left {
  display: inline-block;
  width: 164px;
  float: left;
  clear: left;
  padding: 3.5px 0; }
.user-profile p {
  padding: 3.5px 0; }
.user-profile .middleColumn {
  display: inline-block;
  float: left; }

.forum-news {
  margin: 14px 0; }
  .forum-news .forum-post {
    display: block; }
  .forum-news footer p {
    padding: 14px 0 0 0;
    color: black; }
  .forum-news footer .post-modifiers {
    float: right; }
    .forum-news footer .post-modifiers a {
      margin: 7px; }

.subforums, .forum-topics {
  margin-bottom: 14px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3.5px; }

.forum-subforum {
  background: #efebd2;
  background: -moz-linear-gradient(top, #f6f3e5, #efebd2 50px);
  background: -webkit-linear-gradient(top, #f6f3e5, #efebd2 50px);
  height: 3em;
  padding: 14px;
  display: -webkit-flex;
  display: flex; }
  .forum-subforum:last-child {
    border-bottom-left-radius: 3.5px;
    border-bottom-right-radius: 3.5px; }
  .forum-subforum p:last-child {
    margin-bottom: 0 !important; }
  .forum-subforum .topic-title {
    font-size: 120%;
    font-weight: 600; }
  .forum-subforum p {
    margin-bottom: 3.5px !important; }
  .forum-subforum .subforum-stats {
    padding: 0 14px; }

.forum-flex {
  display: -webkit-flex;
  display: flex; }

.forum-flex-left {
  -webkit-flex: 1 0 0;
  flex: 1 0 0; }

.forum-flex-mid {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  max-width: 150px; }

.forum-flex-right {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  max-width: 250px; }

.forum-topics {
  overflow: auto; }
  .forum-topics .message {
    margin: 14px; }

.forum-header {
  margin-bottom: 14px; }

.topic-footer {
  margin-top: 14px; }
  .topic-footer .topic-stats {
    margin-top: 14px; }
  .topic-footer .current {
    display: inline-block;
    padding: 14px; }

.forum-topic {
  background: #efebd2;
  background: -moz-linear-gradient(top, #f6f3e5, #efebd2 50px);
  background: -webkit-linear-gradient(top, #f6f3e5, #efebd2 50px);
  padding: 14px;
  height: 3em; }
  .forum-topic.sticky {
    background: #eadfa4;
    background: -moz-linear-gradient(top, #f4eece, #eadfa4 50px);
    background: -webkit-linear-gradient(top, #f4eece, #eadfa4 50px); }
  .forum-topic.sticky .sticky {
    font-size: 120%; }
  .forum-topic.locked {
    background: #dfc8b0;
    background: -moz-linear-gradient(top, #e6d4c2, #dfc8b0 50px);
    background: -webkit-linear-gradient(top, #e6d4c2, #dfc8b0 50px); }
  .forum-topic.locked .locked {
    font-size: 120%; }
  .forum-topic p:last-child {
    margin-bottom: 0 !important; }
  .forum-topic p {
    margin-bottom: 3.5px !important; }
  .forum-topic .topic-title {
    font-size: 120%;
    font-weight: 600; }

.forum-topic {
  overflow: hidden; }

.forum-topic .pages a {
  display: inline-block;
  margin-top: 7px;
  padding: 3.5px;
  border-radius: 3.5px;
  font-weight: 600; }

.button a, .page-numbers .current, .page-numbers .label, .button .locked {
  display: inline-block;
  padding: 7px 14px;
  background: #2d2d2d;
  background: -moz-linear-gradient(top, #464646, #2d2d2d 50px);
  background: -webkit-linear-gradient(top, #464646, #2d2d2d 50px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3.5px;
  color: #f0d01f;
  font-weight: 600; }
  .button a.locked, .page-numbers .current.locked, .page-numbers .label.locked, .button .locked.locked {
    color: #a29a6d; }
  .button a.current, .page-numbers .current.current, .page-numbers .label.current, .button .locked.current {
    background: #6d6d6d;
    background: -moz-linear-gradient(top, #464646, #6d6d6d 50px);
    color: white;
    background: -webkit-linear-gradient(top, #464646, #6d6d6d 50px); }
  .button a.label, .page-numbers .current.label, .page-numbers .label.label, .button .locked.label {
    background: #393939;
    background: -moz-linear-gradient(top, #393939, #393939 50px);
    color: white;
    background: -webkit-linear-gradient(top, #393939, #393939 50px); }

.category {
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
  font-size: 110%;
  font-weight: bold;
  padding: 14px;
  background: #21201f;
  color: #f0d01f; }

.forum-admin-features, .forum-quick-reply {
  margin-top: 14px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3.5px; }
  .forum-admin-features h3, .forum-quick-reply h3 {
    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
    background: #21201f;
    color: #f0d01f;
    font-size: 120%;
    font-weight: 600;
    padding: 14px;
    margin-bottom: 14px; }
  .forum-admin-features #Form_AdminFormFeatures, .forum-quick-reply #Form_AdminFormFeatures {
    padding-bottom: 7px; }
  .forum-admin-features #ForumID .left, .forum-quick-reply #ForumID .left {
    width: auto;
    font-size: 100%; }

.forum-post {
  margin-bottom: 3.5px;
  vertical-align: top;
  border-radius: 3.5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25); }
  .forum-post:nth-child(even) .user-info {
    background: #f1ecd1; }
  .forum-post .user-info {
    padding: 14px;
    background: #f7f4e4;
    border-right: 1px solid #ebe4bd;
    overflow: hidden;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    vertical-align: top;
    width: 150px;
    max-width: 150px; }
    .forum-post .user-info .author-link {
      font-weight: 600;
      font-size: 110%; }
    .forum-post .user-info .custom-title {
      display: block; }
    .forum-post .user-info .avatar {
      margin: 14px 0;
      max-width: 100%; }
  .forum-post .user-content {
    padding: 14px;
    line-height: 1.4em;
    overflow: hidden;
    vertical-align: top;
    overflow: hidden; }
    .forum-post .user-content img {
      max-width: 100%; }
    .forum-post .user-content ul {
      margin-top: -1em;
      margin-left: 28px;
      list-style-type: disc; }
    .forum-post .user-content .codesnippet {
      overflow: auto;
      font-family: monospace;
      white-space: pre; }
      .forum-post .user-content .codesnippet br {
        display: none; }
    .forum-post .user-content .post-edited {
      margin-top: 1em;
      color: #555;
      font-style: italic; }
    .forum-post .user-content .post-type {
      display: block; }
  .forum-post header {
    background: #f0d01f !important;
    background: -moz-linear-gradient(top, #f2d537, #f0d01f) !important;
    background: -webkit-linear-gradient(top, #f2d537, #f0d01f) !important;
    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
    padding: 14px;
    margin-bottom: 0 !important; }
    .forum-post header .post-date {
      display: block; }
  .forum-post footer {
    border-bottom-left-radius: 3.5px;
    border-bottom-right-radius: 3.5px;
    background: #d4d3d1;
    background: -moz-linear-gradient(top, #e0dfde, #d4d3d1);
    background: -webkit-linear-gradient(top, #e0dfde, #d4d3d1);
    overflow: auto; }
    .forum-post footer .post-modifiers a, .forum-post footer .quick-reply a, .forum-post footer .deleteLink {
      border-left: 1px solid #c8c6c4;
      padding: 14px;
      font-weight: 600;
      float: right;
      color: #2e2d2b; }
      .forum-post footer .post-modifiers a.deleteLink, .forum-post footer .quick-reply a.deleteLink, .forum-post footer .deleteLink.deleteLink {
        background: #d8bdbc; }
      .forum-post footer .post-modifiers a:hover, .forum-post footer .quick-reply a:hover, .forum-post footer .deleteLink:hover {
        background: #d4d3d1;
        text-decoration: none; }
        .forum-post footer .post-modifiers a:hover.deleteLink, .forum-post footer .quick-reply a:hover.deleteLink, .forum-post footer .deleteLink:hover.deleteLink {
          background: #dca8a7; }
    .forum-post footer .quick-reply {
      margin-left: 14px; }

@media only screen and (max-width: 800px) {
  .forum-post .user-info {
    width: 108px; }

  .subforum-title, .topic-title {
    padding-right: 14px; }

  .subforum-stats, .topic-stats {
    display: none; } }
@media only screen and (max-width: 480px) {
  .forum-flex-left {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto; }

  .forum-flex-mid {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto; }

  .forum-flex-right {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto; }

  .post-body {
    -webkit-flex-direction: column;
    flex-direction: column; }
    .post-body .user-content {
      width: auto; }
    .post-body .user-info {
      width: auto;
      max-width: none;
      border: none;
      position: relative;
      height: 42px; }
      .post-body .user-info .avatar {
        float: right;
        width: auto;
        height: 70px;
        top: -14px;
        right: 0;
        position: absolute; }
      .post-body .user-info .forum-rank {
        display: none; }
      .post-body .user-info .post-count {
        position: relative;
        top: -0.9em; }
      .post-body .user-info .author-link, .post-body .user-info .custom-title {
        display: inline-block; }

  .forum-subforum, .forum-topic {
    height: auto;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .forum-subforum .subforum-latest, .forum-subforum .topic-latest, .forum-topic .subforum-latest, .forum-topic .topic-latest {
      margin-top: 14px; } }
.WikiPage-article {
  line-height: 1.4em; }
  .WikiPage-article ol, .WikiPage-article ul {
    margin-bottom: 1em; }
    .WikiPage-article ol li, .WikiPage-article ul li {
      margin-left: 20px; }
  .WikiPage-article ul li {
    list-style-type: disc; }
  .WikiPage-article ol li {
    list-style-type: decimal; }
  .WikiPage-article code {
    font-family: monospace;
    font-size: 90%;
    background: #eee;
    box-shadow: 0 0 0 2px #eee; }
  .WikiPage-article h1, .WikiPage-article h2, .WikiPage-article h3, .WikiPage-article h4, .WikiPage-article h5, .WikiPage-article h6 {
    margin-top: 2em;
    font-weight: bold; }
    .WikiPage-article h1:first-child, .WikiPage-article h2:first-child, .WikiPage-article h3:first-child, .WikiPage-article h4:first-child, .WikiPage-article h5:first-child, .WikiPage-article h6:first-child {
      margin-top: 0; }
  .WikiPage-article h1 {
    font-size: 150%; }
  .WikiPage-article h2 {
    font-size: 120%; }
  .WikiPage-article h3 {
    font-size: 110%; }
  .WikiPage-article h4 {
    font-size: 105%; }
  .WikiPage-article h5, .WikiPage-article h6 {
    font-size: 100%; }
  .WikiPage-article #Form_EditForm #Content textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 30em;
    resize: vertical; }
  .WikiPage-article .wiki-meta {
    border-radius: 3.5px;
    border: 1px solid #ccc;
    margin-top: 1em;
    padding: 14px;
    background: #eee; }
    .WikiPage-article .wiki-meta ul {
      margin-bottom: 0; }
      .WikiPage-article .wiki-meta ul li {
        list-style-type: none;
        margin-left: 0; }
    .WikiPage-article .wiki-meta h3 {
      margin-top: 1em; }
      .WikiPage-article .wiki-meta h3:first-child {
        margin-top: 0; }

.message {
  border-radius: 3px;
  border: 1px solid #00cc00;
  background: #ccffcc;
  padding: 14px; }

.bad {
  border: 1px solid #ffb3b3;
  background: #ffe5e5; }

#Form_AdminFormFeatures {
  margin: 9.33333px; }

#Form_PostMessageForm, #Form_EditForm {
  padding: 0 14px 28px 14px; }
  #Form_PostMessageForm #Form_PostMessageForm_Title, #Form_EditForm #Form_PostMessageForm_Title {
    font-size: 120%;
    font-weight: 600; }
  #Form_PostMessageForm .BBCodeHint, #Form_EditForm .BBCodeHint {
    margin-bottom: 14px; }
  #Form_PostMessageForm .textarea, #Form_EditForm .textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 15em;
    resize: vertical; }
  #Form_PostMessageForm .left, #Form_EditForm .left {
    text-align: left;
    display: block;
    margin: 0; }
  #Form_PostMessageForm .middleColumn, #Form_EditForm .middleColumn {
    margin: 14px 0 0 0;
    display: block; }
  #Form_PostMessageForm .BBCodeHint, #Form_EditForm .BBCodeHint {
    margin-top: 14px;
    display: block; }

form .field {
  margin-bottom: 14px; }
  form .field .left {
    vertical-align: top;
    display: inline-block;
    width: 150px;
    font-size: 1.0rem;
    text-align: right;
    margin: 0 14px; }
  form .field .middleColumn {
    display: inline-block; }
    form .field .middleColumn input {
      width: 250px; }
  form .field input {
    padding: 3.5px;
    background: white;
    box-shadow: 0 -2px 0 #f0d01f inset;
    border: 1px solid #aaa;
    border: none;
    border-radius: 3px;
    display: inline-block; }
form .Actions .action {
  display: inline-block; }
form .Actions #ForgotPassword {
  margin-left: 14px;
  display: inline-block; }

#SilverStripeNavigator {
  background: #21201f !important;
  border-top: 4px solid #9e880b !important;
  outline: none !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  height: 2em !important;
  width: 100% !important; }
  #SilverStripeNavigator .holder {
    border: none !important;
    padding: 10px !important;
    padding-bottom: 0;
    min-width: 500px; }
  #SilverStripeNavigator .bottomTabs, #SilverStripeNavigator #logInStatus {
    font-size: 130% !important; }
  #SilverStripeNavigator a {
    font-size: 100% !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.125); }

#SilverStripeNavigatorMessage {
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  background: #21201f !important;
  border-width: 2px !important;
  border-color: #9e880b !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  position: absolute !important;
  top: 5px !important;
  right: 5px !important; }

.warning {
  border: 1px solid #fcc;
  border-radius: 3px;
  background: url("../images/warning.jpg") no-repeat;
  background-size: 100%;
  background-position: 0 -20px;
  padding: 14px; }
