/* for mixins and stuff */
@mixin gradient($from, $to)
{
	background-image: -webkit-gradient(linear, top, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -ms-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0);
	background-image: linear-gradient(top, $from, $to);
}

@mixin radial-gradient($from, $to)
{
	background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#943a6d), to($to));
	background-image: -webkit-radial-gradient(center center, circle contain, $from 0%, $to 100%);
	background-image: -moz-radial-gradient(center center, circle contain, $from 0%, $to 100%);
	background-image: -ms-radial-gradient(center center, circle contain, $from 0%, $to 100%);
	background-image: -o-radial-gradient(center center, circle contain, $from 0%, $to 100%);
	background-image: radial-gradient(center center, circle contain, $from 0%, $to 100%);
}

@mixin transition($args)
{
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin columns($col-count, $col-width)
{
	text-align: center;

	-webkit-column-count: $col-count;
	-moz-column-count: $col-count;
	-ms-column-count: $col-count;
	-o-column-count: $col-count;
	column-count: $col-count;

	-webkit-column-width: $col-width;
	-moz-column-width: $col-width;
	-ms-column-width: $col-width;
	-o-column-width: $col-width;
	column-width: $col-width;
}

@mixin box-sizing($sizing)
{
	-webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	-ms-box-sizing: $sizing;
	-o-box-sizing: $sizing;
	box-sizing: $sizing;
}

@mixin card {
	@include box-sizing(border-box);
	background: adjust-color($primary, $saturation: -75%, $lightness: 40%);
	display: inline-block;
	width: 100%;
	min-height: 100px;
	padding: 10px;
	margin: 10px auto;
	box-shadow: 0 3px 3px adjust-color($primary, $saturation: -65%, $lightness: 15%);
	text-align: left;
	&:before {
		content:"";
	}
}

@mixin button {
	display: inline-block;
	background: $primary;
	color: white;
	padding: 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid $primary_border;
	border-bottom-width: 4px;
	border-radius: 2px;
}

@mixin display-flex {
	display: -webkit-box-flex;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}

@mixin flex($args) {
	-webkit-flex: $args;
	-ms-flex: $args;
	flex: $args;
}

@mixin flex-direction($dir) {
	$alt: vertical !default;
	@if $dir == column {
		$alt: vertical;
	} @else {
		$alt: horizontal;
	}
	-webkit-flex-direction: column;
	-webkit-box-orient: $alt;
	-ms-flex-direction: column;
	flex-direction: column;
}
